# Exporte das funções do pacote
export(calculateCoocStatistics)
export(lemmatização)
export(clusterização)
export(corpus_slipt)
export(data_plot)
export(gerador_plot)
export(ClusterViz)

# Importação de pacotes
import(shiny)
import(shinyBS)
import(shinycssloaders)
import(shinydashboard)
import(shinyjs)
import(shinyWidgets)
import(shinythemes)
import(miniUI)
import(data.table)
import(kableExtra)
import(quanteda)
import(rainette)
import(tidyverse)
import(igraph)
import(ggraph)
import(visNetwork)
import(Matrix)

# Importação de funções específicas
importFrom(Matrix, Matrix)
importFrom(Matrix, t)
importFrom(Matrix, colSums)
#importFrom(stats, log)
importFrom(quanteda, dfm)
importFrom(quanteda, convert)
importFrom(quanteda, tokens)
importFrom(quanteda, dfm_remove)
